footer {
    background-color: #333333; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start; 
}

.footer-logo {
    margin-right: 10px; 
}

.footer-logo img {
    width: 100px; 
}

.footer-info-hours {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.footer-info, .footer-hours {
    margin-right: 30px; 
}

.footer-info p, .footer-hours p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

.footer-social p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

.social-icons a {
    margin-right: 10px;
    margin-top: 7px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.footer-stay-connected {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-stay-connected p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

.footer-stay-connected form {
    margin-top: 7px;
}

.footer-stay-connected input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    width: 250px;
}

.footer-stay-connected button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.footer-stay-connected button:hover {
    background-color: darkred;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info-hours {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-hours {
        margin-right: 0; 
        margin-bottom: 20px;
    }

    .footer-logo img {
        width: 80px; 
    }

    .footer-social {
        text-align: center;
    }

    .footer-social p {
        font-size: 14px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .footer-stay-connected input[type="email"] {
        width: 100%; 
        margin-bottom: 10px;
    }

    .footer-stay-connected button {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
    }

    .footer-info-hours {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info p, .footer-hours p {
        font-size: 14px;
    }

    .footer-logo img {
        width: 60px; 
    }

    .social-icons img {
        width: 25px;
        height: 25px;
    }

    .footer-stay-connected button {
        padding: 8px;
        font-size: 14px;
    }

    .footer-stay-connected input[type="email"] {
        font-size: 14px;
        padding: 8px;
    }
}
