.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5%;
  gap: 20px;
}

.content {
  flex: 0 0 50%;
  text-align: center;
  min-width: 300px;
}

.content h2 {
  font-size: 5em;
  font-weight: 800;
}

.content p {
  font-size: 1.5em;
}

.image {
  flex: 0 0 50%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .content h2 {
    font-size: 4em;
  }

  .content p {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    height: auto;
    padding: 5%;
  }

  .content, .image {
    flex: 1 1 100%;
  }

  .content h2 {
    font-size: 3em;
  }

  .content p {
    font-size: 1em;
  }

  .right {
    padding-left: 0;
  }
}