.section {
  display: flex;
  align-items: center;
  height: 50vh;
  padding: 10%;
}

.white-background {
  background-color: #ffffff;
}

.content {
  flex: 1;
  text-align: center;
}

.content h2 {
  font-size: 5em;
  font-weight: 800;
}

.content p {
  font-size: 1.5em;
}

.image {
  flex: 1;
}

.left {
  order: 1;
  padding-right: 5%;
}

.right {
  order: 2;
}

@media (max-width: 768px) {
  .section {
      flex-direction: column;
      height: auto;
      padding: 5%;
  }

  .left {
      padding-left: 0;
  }
}