<section class="play-section">
    <h1>Join Us for Free, Fun Football Scrimmages</h1>
    
    <div class="info-card">
      <p>
        It's our value preposition to offer free football opportunities! That's what differenciates us from others! <br>Join us at White Haven Park, between April and October 2025, up to twice per week, to play free, fun football scrimmages! Games will be organized by WHCFC leaders to ensure everyone <b>equally participates,</b> and builds camaraderie, fitness, and friendships.
      </p>
    </div>
  
    <div class="statement-card">
      <p>
        <strong>WHCFC believes in the transformative power of sports.</strong> Our goal is to increase football participation while eliminating barriers, to give Canadians access to and stay involved in football in communities. This aligns to the Canadian Government's initiatives to pursue healthy lifestyles, because it believes that sport plays an important role in helping Canadians build the skills they need to grow and thrive physically, mentally and socially.
      </p>
    </div>
  
    <div class="statement-card">
      <p>
        <strong>Our Accessible Football Program:</strong> WHCFC is committed to reducing participation barriers, especially for Black and racialized communities, newcomers, and people with low incomes. 
      </p>
    </div>
  
    <div class="statement-card">
      <p>
        <strong>Funding and Support:</strong> We will seek funding for drop-in games, programs, and equipment, aiming to increase accessibility to football and foster inclusivity in sports for everyone. We will seek funding also for the development of educational resources to increase participation and retention rates, because we want to make sport inclusive, welcoming and equitable for everyone.
      </p>
    </div>
  
    <div class="tournament-info">
      <p>
        Beyond Free, Fun Football Scrimmages, players who make the WHCFC team can compete in summer tournaments starting in May. These programs are affordable, with minimal costs for uniforms and entry fees, as we are a non-profit organization. For details, click <a routerLink="/tournament">here</a>.
      </p>
    </div>
  </section>
  