.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    gap: 20px;
  }
  
  .content {
    flex: 1;
  }
  
  h2 {
    font-size: 5em;
    font-weight: 800;
  }
  
  p {
    font-size: 3em;
  }
  
.video-player {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  flex: 1;
  border-radius: 10px;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add some space between the arrows and the video player */
  }

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.arrow {
    cursor: pointer;
    font-size: 2em;
    user-select: none;
    flex-shrink: 0;
  }

@media (max-width: 768px) {
  .video-player {
    max-width: 100%;
  }

  .arrow {
    font-size: 1.5em;
  }
}