.section {
  display: flex;
  align-items: center;
  height: 30vh;
  padding: 10%;
  }

  .grey-background {
    background-color: #f0f0f0;
  }

  .content {
    flex: 1;
  }

  h2 {
    font-size: 5em;
  }
  
  p {
    font-size: 1.5em;
  }

  .image {
    flex: 1;
  }

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }

  .board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .board-member {
    flex: 1 1 45%;
    text-align: center;
    margin: 20px;
  }

  .board-member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .board-member p {
    margin-top: 10px;
    font-weight: bold;
  }