<div class="section grey-background">
    <h2>Our Board</h2>
    <div class="board-members">
      <div class="board-member">
        <img src="assets/placeholder-person.jpg">
        <p>President</p>
      </div>
      <div class="board-member">
        <img src="assets/placeholder-person.jpg">
        <p>Secretary</p>
      </div>
      <div class="board-member">
        <img src="assets/placeholder-person.jpg">
        <p>Treasurer</p>
      </div>
      <div class="board-member">
        <img src="assets/placeholder-person.jpg">
        <p>Executive</p>
      </div>
    </div>
  </div>