<div class="section grey-background">
    <h2>Our Board</h2>
    <div class="board-members">
      <div class="board-member">
        <img src="assets/Joe.jpg">
        <p>President</p>
      </div>
      <div class="board-member">
        <img src="assets/Noel.jpg">
        <p>Director, Partnership Development</p>
      </div>
      <div class="board-member">
        <img src="assets/Guru.jpg">
        <p>Secretary</p>
      </div>
      <div class="board-member">
        <img src="assets/Legus.jpg">
        <p>Manager & Tech Advisor</p>
      </div>
    </div>
  </div>