<section class="tournament-section">
    <h1 class="tournament-title">Tournament Opportunities with WHCFC</h1>
    <div class="tournament-info">
      <p>If you try out and make the team, you will develop a sense of belonging and will enjoy:</p>
      <ul>
        <li><strong>Tournaments in 2025:</strong> The first one being in May; these activities for WHCFC team members are fun but competitive. They require commitment, such as attending practices separate from Free & Fun Scrimmages. Players should be teachable, want to develop teamwork, play competitively, and learn play patterns, set pieces while getting fit and enhancing their soccer skills.</li>
        <li><strong>Affordable Tournament Costs:</strong> Our value proposition is to provide free football opportunities. Therefore, tournament costs (entry fees, team uniforms, etc.) will be kept low and affordable, especially for those in equity-deserving and marginalized groups. We will consider what players can realistically pay and work with sponsors to fund the program.</li>
        <li><strong>How to Get Involved:</strong> First, come out in April 2025 for Free, Fun Football Scrimmages. Then express your interest in try-outs, and if you make the WHCFC team, you will participate in tournaments.</li>
      </ul>
      <p>Should you require further details or want to show your interest in playing Free, Fun Football Scrimmages or in Tournaments & Friendlies, email <a href="mailto:fcwhitehaven&#64;gmail.com">fcwhitehaven&#64;gmail.com</a>.</p>
    </div>
  </section>
  