<div class="px-12 md:px-48 py-20 bg-gray-100 text-black">
  <div
    class="flex flex-col md:flex-row items-center md:space-y-8 md:space-x-10"
  >
    <img
      src="https://images.unsplash.com/photo-1526232761682-d26e03ac148e?q=80&w=2858&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="community-icon"
      class="hidden md:block w-80 md:w-100 mx-auto bg-white rounded-3xl"
    />
    <p class="text-center text-base">
      WHCC Corp. is more than a football club; it wishes to build and develop
      and sustain community spirit and synergy by providing free opportunities
      to its members to not just play football but also participate in
      tournament festivals as well as free educational workshops organized by
      WHCC Corp. During tournament festivals, for instance, WHCC Corp. will
      enable community members to cheer on football teams, enjoy picnics in the
      park and have fun while getting to know other community members and
      families, developing relationships with them as well as with local
      businesses and local politicians. WHCC Corp. will also plan, design and
      deliver educational sessions/workshops to communities, at no cost, to help
      them develop critical skills required to succeed in their personal and
      professional lives, e.g., project management as life skills, mental unity
      in community, basic computer programming, etc. Community members attending
      these free sessions will in turn enable their communities to develop as
      well.
    </p>
    <img
      src="https://images.unsplash.com/photo-1526232761682-d26e03ac148e?q=80&w=2858&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="community-icon"
      class="mt-8 block md:hidden w-80 md:w-100 mx-auto bg-white rounded-3xl"
    />
  </div>
</div>
