<section class="carousel-container">
  <!-- Slide 1: Tournament Information -->
  <div class="blurred-background"></div>
  <div class="carousel-content" *ngIf="activeSlide === 0">
    <div class="hero-content">
        <h1>Experience The Agony of Defeat & <br>The Thrill of Victory!</h1>
        <p class="sub-text">Do you want to be part of to a team and play in Tournaments & Friendlies?
        </p>
        <p class="description">Details <a routerLink="/tournament">here</a>.
        </p>
    </div>
</div>

  <!-- Slide 2: Free Soccer Information -->
  <div class="carousel-content" *ngIf="activeSlide === 1">
    <div class="hero-content">
      <h1>Want to Play Football for Free?</h1>
      <p class="sub-text">Yes, you heard it right! It's free.</p>
      <p class="description">
        Details <a routerLink="/play">here</a>.
      </p>
    </div>
  </div>

  <!-- Carousel Controls -->
  <div class="carousel-controls">
    <button (click)="prevSlide()" class="arrow left-arrow"><</button>
    <button (click)="nextSlide()" class="arrow right-arrow">></button>
  </div>
</section>

<div class="benefits-section">
  <h2>Why Join WHCFC?</h2>
  <div class="benefits">
    <div class="benefit-card" *ngFor="let benefit of benefits">
      <div class="benefit-icon">{{ benefit.icon }}</div>
      <div class="benefit-text">
        <h3>{{ benefit.title }}</h3>
        <p>{{ benefit.description }}</p>
      </div>
    </div>
  </div>
</div>

  <div class="vision-mission-section">
    <div class="vision-container">
      <div class="vision-text">
        <h2>Our Vision</h2>
        <p>
          WHCFC aims to be Scarborough’s first club offering free soccer opportunities, promoting community, diversity, and inclusivity. 
          We strive to foster a welcoming environment for equity-deserving groups and celebrate cultural differences. 
          Our goal is to enhance community spirit through football while providing free educational workshops on essential life skills like project management and mental health.
        </p>
      </div>
      <div class="vision-image">
        <img src="/assets/vision_home.jpg" alt="Community and Football" />
      </div>
    </div>
  
    <div class="mission-container">
      <div class="mission-image">
        <img src="/assets/mission_home.jpg" alt="Inclusivity and Diversity" />
      </div>
      <div class="mission-text">
        <h2>Our Mission</h2>
        <p>
          While some costs may apply for team play and tournaments, we are committed to minimizing these expenses. 
          WHCFC seeks to support marginalized communities by securing funding from government and businesses, 
          ensuring accessibility and minimal costs for participation.
        </p>
      </div>
    </div>
  </div>

  <div class="video-section">
    <div class="video-content">
      <div class="video-text">
        <h2>Message from Joe</h2>
        <p>
          In this heartfelt message, Joe shares his story on how he founded WHCFC and how his passion drove him to build free and fun opportunities for football players in the community, 
          especially those in economically disadvantaged and equity-deserving groups. 
          Hear his vision to be the only Scarborough club to provide free football experiences and his mission to develop communities through the power of interaction, 
          tournament festivals and educational opportunities.
        </p>
      </div>
      <div class="video-player">
        <video controls>
          <source src="/assets/Joe I Have A Dream Message.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  
  