<div class="px-12 md:px-48 py-20 bg-white text-black">
  <div class="flex flex-col md:flex-row items-center space-y-8 md:space-x-10">
    <div class="flex flex-col items-center">
      <p class="text-center text-base">
        WHCFC will seek funding to enable the above-mentioned drop-in
        experiences, multi-week programs, and the acquisition of equipment to
        improve access to football and physical activity; the club will seek
        funding also for the development of educational resources to increase
        participation and retention rates, because it wants to make sport
        inclusive, welcoming and equitable for everyone. By having sufficient
        funds to do the above, the community will benefit.
      </p>
      <button
        class="rounded-xl text-orange-400 border-orange-400 py-2 px-4 max-w-fit mt-4 font-bold border-2 hover:bg-orange-400 hover:text-white"
      >
        Donate
      </button>
    </div>
    <img
      src="https://plus.unsplash.com/premium_vector-1682300659625-e4e997b1346c?q=80&w=2692&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="community-icon"
      class="w-80 md:w-100 mx-auto bg-white rounded-3xl"
    />
  </div>
</div>
