    @import 'responsive2.css';
  
    .volunteer-text8 {
      top: 147px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
    }
    
    .volunteer-image2 {
      top: 0px;
      left: 540px;
      width: 525px;
      height: 326px;
      position: absolute;
      border-radius: 30px;
    }
  
    .volunteer-support {
      top: 2200px;
      left: 300px;
      width: 1065px;
      height: 314px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
    .volunteer-connect4 {
      top: 30px;
      left: 630px;
      width: 435px;
      height: 275px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
  
    .volunteer-text9 {
      color: rgba(67, 102, 230, 1);
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }
  
    .volunteer-text10 {
      top: 38px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }
  
    .volunteer-text11 {
      top: 147px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
    }
  
    .volunteer-image3 {
      top: 0px;
      left: 0px;
      width: 525px;
      height: 314px;
      position: absolute;
      border-radius: 30px;
    }
  
    .volunteer-middle-button {
      top: 1650px;
      left: 0px;
      width: 550; 
      height: 429px;
      display: flex;
      justify-content: center; 
      align-items: center;
      background: linear-gradient(158deg, rgba(146, 226, 93, 1) 0%, rgba(95, 146, 182, 1) 65%, rgba(67, 102, 230, 1) 100%);
      border-radius: 30px;
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;
      padding: 20px; 
      margin-top: 30px;
    }
  
    .volunteer-text12 {
      top: 0px;
      position: relative; 
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 24px;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    }
  
    .volunteer-text13 {
      top: 0px;
      position: relative; 
      color: rgba(255, 255, 255, 1);
      width: 100%; 
      height: auto;
      font-size: 48px;
      font-style: Bold;
      text-align: center;
      font-family: Outfit;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
    }
  
    .volunteer-button1 {
      gap: 10px;
      top: 50px;
      display: flex;
      padding: 29px 30px;
      position: relative;
      align-items: center;
      border-radius: 100px;
      justify-content: center;
      background-color: rgba(224, 212, 118, 1);
      border: none;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    
    .volunteer-text14 {
      color: rgba(0, 0, 0, 1);
      height: auto;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }