.volunteer-discover-volunteering-opps-top {
    top: 0px;  
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .volunteer-discover-volunteering-opps {
    top: 0px;  
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    position: relative;
    padding: 20px 0;
  }
  
    .volunteer-text1 {
      top: 600px;
      color: rgba(0, 0, 0, 1);
      width: 100%;
      height: auto;
      text-align: center;
      line-height: normal;
      font-weight: 700;
      margin: 20px auto;
      position: relative; 
    }
  
    .volunteer-text2 {
      top: 1200px;
      color: rgba(0, 0, 0, 1);
      width: 700px;
      height: auto;
      display: flex;
      position: absolute;
      text-align: center;
      line-height: normal;
      margin: 30px auto;
    }
  
    .volunteer-connect1 {
      top: 1350px;
      left: 300px;
      width: 1065px;
      height: 295px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
    .volunteer-connect2 {
      top: 20px;
      left: 630px;
      width: 435px;
      height: 275px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
  
    .volunteer-text3 {
      color: rgba(67, 102, 230, 1);
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }
    
    .volunteer-text4 {
      top: 38px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }
    
    .volunteer-text5 {
      top: 147px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
    }
  
    .volunteer-Shaun {
      top: 0px;
      left: 0px;
      width: 525px;
      height: 295px;
      position: absolute;
      border-radius: 30px;
    }
  
    .volunteer-gain-experience {
      top: 1750px;
      left: 300px;
      width: 1065px;
      height: 326px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
    .volunteer-connect3 {
      top: 28px;
      left: 0px;
      width: 435px;
      height: 275px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 1;
    }
  
    .volunteer-text6 {
      color: rgba(67, 102, 230, 1);
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }
  
    .volunteer-text7 {
      top: 38px;
      color: rgba(0, 0, 0, 1);
      width: 435px;
      height: auto;
      position: absolute;
      text-align: left;
      line-height: normal;
      font-weight: 700;
    }