  @import 'responsive.css';

  @media (max-width: 480px) {

    .volunteer-text2,
    .volunteer-text4,
    .volunteer-text5,
    .volunteer-text7,
    .volunteer-text10,
    .volunteer-text11 {
      width: 100%; 
    }
  
    .volunteer-button1 {
      width: auto; 
      padding: 20px; 
      margin: 10px 0; 
      align-self: center; 
    }

    .volunteer-connect1,
    .volunteer-gain-experience,
    .volunteer-support {
      display: flex; 
      flex-direction: column; 
      align-items: flex-start; 
      width: 100%; 
      margin: 0 auto; 
      padding: 10px 0; 
      left: -300px;
    }

    .volunteer-connect2,
    .volunteer-connect3,
    .volunteer-connect4 {
      display: flex; 
      flex-direction: column; 
      width: 100%; 
      margin-bottom: 15px; 
      padding: 10px; 
    }

    .volunteer-Shaun,
    .volunteer-image2,
    .volunteer-image3 {
      width: 100%; 
      height: auto; 
      border-radius: 15px; 
      margin-top: 10px; 
    }

     .volunteer-connect2 {
      top: 300px;
      left: 300px;
      width: 90%;
    } 

     .volunteer-Shaun {
      top: 20px;
      left: 300px;
    }

    .volunteer-connect3 {
      top: 600px;
      left: 300px;
      width: 90%;
    } 

    .volunteer-image2 {
      top: 300px;
      left: 300px;
    }

    .volunteer-connect4 {
      top: 900px;
      left: 300px;
      width: 90%;
    }

    .volunteer-image3 {
      top: 600px;
      left: 300px;
    } 

    .volunteer-middle-button{
      top: 2500px;
    }

    .volunteer-button1 {
      top: 20px;
    }

  } 
  