<div class="section grey-background">
    <div class="content left">
      <h2>About Us</h2>
      <p>
        White Haven Community Football Club (WHCFC) is a non-profit organization based in Scarborough, dedicated to providing free football (soccer) experiences to the community. 
        We focus on creating opportunities for individuals from diverse backgrounds, offering a space for social interaction, teamwork, and personal development. 
        Through football, we aim to foster inclusivity and build a sense of belonging while promoting skill-building both on and off the field. 
        Our community-based approach emphasizes not only physical activity but also the growth of professional and life skills through free educational workshops.
      </p>
    </div>
    <div class="image right">
      <img src="assets/community_football.jpg">
    </div>
  </div>